EXPO_PUBLIC_SUPABASE_URL=
EXPO_PUBLIC_SUPABASE_ANON_KEY=
VISION_API_KEY=
VISION_BASE_URL=https://api.groq.com/openai/v1
VISION_MODEL=llama-3.2-11b-vision-preview
CHAT_API_KEY=
CHAT_BASE_URL=https://integrate.api.nvidia.com/v1
CHAT_MODEL=meta/llama-3.2-90b-vision-instruct